<!-- <app-exams></app-exams>
<app-students></app-students>
<app-lessons></app-lessons> -->
<div class="appComponent">
<nav style="display: flex; gap: 5px; padding: 10px; background-color: #f8f8f8; border: 1px solid #ddd;">
  <a routerLink="students" style="text-decoration: none; color: #007bff; padding: 5px 10px; border-radius: 4px;">Students</a>
  <a routerLink="lessons" style="text-decoration: none; color: #007bff; padding: 5px 10px; border-radius: 4px;">Lessons</a>
  <a routerLink="exams" style="text-decoration: none; color: #007bff; padding: 5px 10px; border-radius: 4px;">Exams</a>
</nav>


  <router-outlet></router-outlet>
</div>
